<div class="table-item">
  <div class="item-checkbox">
    <input type="checkbox" name="options"
           value="{{employee.id}}"
           [checked]="false"
           (click)="select.emit({ id: employee.id, checked: $event.target.checked })">
  </div>
  <div class="item-id">
    {{employee.id}}
  </div>
  <div class="item-name">
    {{employee.name}}
  </div>
  <div class="item-position">
    {{employee.position}}
  </div>
  <div class="item-rate">
    {{employee.rate}}
  </div>

  <div *ngFor="let item of employee.timetable | keyvalue" class="item-timetable">
    {{item.value}}
  </div>

  <div class="item-total-hours">
    {{getWorkingHours(employee.timetable)}}
  </div>

</div>
